.checkout{
    display: flex;
    width: 100%;
    margin: 20px;
}
/* .checkout .checkout_items h2{
    margin: 10px 0px 20px 20px;
    font-weight: bolder;
    font-size: large;
} */
.checkout_items{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 20px;
}
.checkout_product{
    display: flex;
    width: 80%;
}
.checkout_product img{
    margin: 20px;
}
.product_info{
    margin:20px;
}
.checkout_items .checkout_product .product_info button{
    background-color: orange;
}
.product_info h4{
    font-weight: bold;
    font-size:  x-large;
}
.product_info p{
    font-weight: 500;
    font-size: medium;
}
.checkout_items h2{
    font-weight: bolder;
    font-size:  xx-large;
    margin: 10px 0px 20px 20px;
}
.product_info .p-button {
    color: #ffffff;
    background: orange;
    border: 1px solid transparent;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
}
.product_info .p-button:enabled:hover, .p-button:not(button):not(a):not(.p-disabled):hover {
    background: orangered;
    color: #ffffff;
    border-color: orangered;
}