*{
    margin: 0px;
    padding: 0px;
}
.header{
    width:100%;
    background-color: darkkhaki;
    color: white;
    text-align: end;
    padding: 15px;
    font-size: large;
    font-weight: bolder;
}
.header_end{
    margin-right: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}
.header_cart{
    display: flex;
}
.header_cart .cart_img{
    width: 30px;
    height: 25px;
    margin-right: 5px;
}
.header a:hover {
    color: white;
}