.home{
    background-color: rgb(184,182,182);
}
.home > div{
    display: flex;
    justify-content: center;
}
.title{
    font-size: x-large;
    font-weight: bolder;
    color: orangered;
    margin-left: 40px;
}