.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 10px;
    width: 100%;
    background-color: white;
}
.product img{
    height: 200px;
}
.product button{
    margin-top: 10px;
    background-color: orange;
}
.product h4{
    font-weight: bold;
    font-size:  x-large;
}
.product p{
    font-weight: 500;
    font-size: medium;
}
