.subtotal{
margin-top: 10px;
}
.subtotal_area{
    padding:10px;
    border: 1px solid gray;
    background-color: rgb(221, 221, 223);
}
.subtotal .subtotal_area button{
    background-color: orange;
    border: 1px solid gray;
}
.subtotal .backbtn{
    background-color: orange;
    margin-bottom: 10px; 
}
.subtotal_area p{
    font-weight: 500;
    font-size: medium;
    margin-bottom: 5px;
}
.subtotal_area .p-button:enabled:hover, .p-button:not(button):not(a):not(.p-disabled):hover {
    background: orange;
    color: #ffffff;
    border-color: orange;
}